AdminQuanLyShop/AdminQuanLyShop/Service References/Service_CTHDN/Service_CTHDN.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service_CTHDN" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IService_CTHDN_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://huyservice.azurewebsites.net/Service_CTHDN.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://huyservice.azurewebsites.net/Service_CTHDN.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://huyservice.azurewebsites.net/Service_CTHDN.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_CTHDN_LayCTHDN_InputMessage">
    <wsdl:part name="parameters" element="tns:LayCTHDN" />
  </wsdl:message>
  <wsdl:message name="IService_CTHDN_LayCTHDN_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayCTHDNResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CTHDN_ThemCTHDN_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemCTHDN" />
  </wsdl:message>
  <wsdl:message name="IService_CTHDN_ThemCTHDN_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemCTHDNResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CTHDN_SuaCTHDN_InputMessage">
    <wsdl:part name="parameters" element="tns:SuaCTHDN" />
  </wsdl:message>
  <wsdl:message name="IService_CTHDN_SuaCTHDN_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuaCTHDNResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CTHDN_XoaCTHDN_InputMessage">
    <wsdl:part name="parameters" element="tns:XoaCTHDN" />
  </wsdl:message>
  <wsdl:message name="IService_CTHDN_XoaCTHDN_OutputMessage">
    <wsdl:part name="parameters" element="tns:XoaCTHDNResponse" />
  </wsdl:message>
  <wsdl:portType name="IService_CTHDN">
    <wsdl:operation name="LayCTHDN">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_CTHDN/LayCTHDN" message="tns:IService_CTHDN_LayCTHDN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_CTHDN/LayCTHDNResponse" message="tns:IService_CTHDN_LayCTHDN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemCTHDN">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_CTHDN/ThemCTHDN" message="tns:IService_CTHDN_ThemCTHDN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_CTHDN/ThemCTHDNResponse" message="tns:IService_CTHDN_ThemCTHDN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuaCTHDN">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_CTHDN/SuaCTHDN" message="tns:IService_CTHDN_SuaCTHDN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_CTHDN/SuaCTHDNResponse" message="tns:IService_CTHDN_SuaCTHDN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XoaCTHDN">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_CTHDN/XoaCTHDN" message="tns:IService_CTHDN_XoaCTHDN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_CTHDN/XoaCTHDNResponse" message="tns:IService_CTHDN_XoaCTHDN_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService_CTHDN" type="tns:IService_CTHDN">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayCTHDN">
      <soap:operation soapAction="http://tempuri.org/IService_CTHDN/LayCTHDN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemCTHDN">
      <soap:operation soapAction="http://tempuri.org/IService_CTHDN/ThemCTHDN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaCTHDN">
      <soap:operation soapAction="http://tempuri.org/IService_CTHDN/SuaCTHDN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaCTHDN">
      <soap:operation soapAction="http://tempuri.org/IService_CTHDN/XoaCTHDN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IService_CTHDN" type="tns:IService_CTHDN">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IService_CTHDN_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayCTHDN">
      <soap:operation soapAction="http://tempuri.org/IService_CTHDN/LayCTHDN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemCTHDN">
      <soap:operation soapAction="http://tempuri.org/IService_CTHDN/ThemCTHDN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaCTHDN">
      <soap:operation soapAction="http://tempuri.org/IService_CTHDN/SuaCTHDN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaCTHDN">
      <soap:operation soapAction="http://tempuri.org/IService_CTHDN/XoaCTHDN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_CTHDN">
    <wsdl:port name="BasicHttpBinding_IService_CTHDN" binding="tns:BasicHttpBinding_IService_CTHDN">
      <soap:address location="http://huyservice.azurewebsites.net/Service_CTHDN.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IService_CTHDN" binding="tns:BasicHttpsBinding_IService_CTHDN">
      <soap:address location="https://huyservice.azurewebsites.net/Service_CTHDN.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>