AdminQuanLyShop/AdminQuanLyShop/Service References/Service_CTHDN/Service_CTHDN2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://huyservice.azurewebsites.net/Service_CTHDN.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfHoaDon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HoaDon" nillable="true" type="tns:HoaDon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHoaDon" nillable="true" type="tns:ArrayOfHoaDon" />
  <xs:complexType name="HoaDon">
    <xs:sequence>
      <xs:element minOccurs="0" name="_GiaSP" type="xs:decimal" />
      <xs:element minOccurs="0" name="_MaMau" type="xs:int" />
      <xs:element minOccurs="0" name="_MaSP" type="xs:int" />
      <xs:element minOccurs="0" name="_MaSize" type="xs:int" />
      <xs:element minOccurs="0" name="_Mau" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Size" type="xs:int" />
      <xs:element minOccurs="0" name="_SoLuong" type="xs:int" />
      <xs:element minOccurs="0" name="_TenSP" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="HoaDon" nillable="true" type="tns:HoaDon" />
</xs:schema>