Admin_QuanLyShop/Admin_QuanLyShop/Service References/Service_NhaCungCap/Service_NhaCungCap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LayTatCaNhaCungCap">
        <s:complexType />
      </s:element>
      <s:element name="LayTatCaNhaCungCapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LayTatCaNhaCungCapResult" type="tns:ArrayOfNhaCungCap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfNhaCungCap">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NhaCungCap" nillable="true" type="tns:NhaCungCap" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NhaCungCap">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaNCC" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenNCC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoDT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoTK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HoaDonNhaps" type="tns:ArrayOfHoaDonNhap" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHoaDonNhap">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HoaDonNhap" nillable="true" type="tns:HoaDonNhap" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HoaDonNhap">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaHDN" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaNCC" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaNV" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayLap" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TongTien" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TinhTrang" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CTHoaDonNhaps" type="tns:ArrayOfCTHoaDonNhap" />
          <s:element minOccurs="0" maxOccurs="1" name="NhaCungCap" type="tns:NhaCungCap" />
          <s:element minOccurs="0" maxOccurs="1" name="NhanVien" type="tns:NhanVien" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCTHoaDonNhap">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CTHoaDonNhap" nillable="true" type="tns:CTHoaDonNhap" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CTHoaDonNhap">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaHDN" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaSP" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SoLuong" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DonGia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HoaDonNhap" type="tns:HoaDonNhap" />
          <s:element minOccurs="0" maxOccurs="1" name="SanPham" type="tns:SanPham" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SanPham">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaSP" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenSP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MaLoai" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ThuongHieu" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GiaSP" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="HinhAnh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HinhAnh1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HinhAnh2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HinhAnh3" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SoLuong" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MoTa" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KM" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayCapNhat" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="GiaKM" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CTDHs" type="tns:ArrayOfCTDH" />
          <s:element minOccurs="0" maxOccurs="1" name="CTHoaDonNhaps" type="tns:ArrayOfCTHoaDonNhap" />
          <s:element minOccurs="0" maxOccurs="1" name="Loai" type="tns:Loai" />
          <s:element minOccurs="0" maxOccurs="1" name="Mau" type="tns:Mau" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCTDH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CTDH" nillable="true" type="tns:CTDH" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CTDH">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaDH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaSP" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SoLuong" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DonGia" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DonHang" type="tns:DonHang" />
          <s:element minOccurs="0" maxOccurs="1" name="SanPham" type="tns:SanPham" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DonHang">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaDH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaKH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaNV" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayLap" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TongTien" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="TinhTrang" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CTDHs" type="tns:ArrayOfCTDH" />
          <s:element minOccurs="0" maxOccurs="1" name="KhachHang" type="tns:KhachHang" />
          <s:element minOccurs="0" maxOccurs="1" name="NhanVien" type="tns:NhanVien" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KhachHang">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaKH" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HoTen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoDT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MatKhau" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NgaySinh" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GioiTinh" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DonHangs" type="tns:ArrayOfDonHang" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDonHang">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DonHang" nillable="true" type="tns:DonHang" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NhanVien">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaNV" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HoTen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoDT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CMND" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MatKhau" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QuyenAdmin" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DonHangs" type="tns:ArrayOfDonHang" />
          <s:element minOccurs="0" maxOccurs="1" name="HoaDonNhaps" type="tns:ArrayOfHoaDonNhap" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Loai">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaLoai" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenLoai" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SanPhams" type="tns:ArrayOfSanPham" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSanPham">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SanPham" nillable="true" type="tns:SanPham" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Mau">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaSP" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Size" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SoLuong" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SanPham" type="tns:SanPham" />
        </s:sequence>
      </s:complexType>
      <s:element name="ThemNhaCungCap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TenNCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SoDT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SoTK" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemNhaCungCapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ThemNhaCungCapResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuaNhaCungCap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MaNCC" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TenNCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SoDT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SoTK" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuaNhaCungCapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SuaNhaCungCapResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaNhaCungCap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MaNCC" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaNhaCungCapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="XoaNhaCungCapResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemNhaCungCap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="x" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemNhaCungCapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimKiemNhaCungCapResult" type="tns:ArrayOfNhaCungCap" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LayTatCaNhaCungCapSoapIn">
    <wsdl:part name="parameters" element="tns:LayTatCaNhaCungCap" />
  </wsdl:message>
  <wsdl:message name="LayTatCaNhaCungCapSoapOut">
    <wsdl:part name="parameters" element="tns:LayTatCaNhaCungCapResponse" />
  </wsdl:message>
  <wsdl:message name="ThemNhaCungCapSoapIn">
    <wsdl:part name="parameters" element="tns:ThemNhaCungCap" />
  </wsdl:message>
  <wsdl:message name="ThemNhaCungCapSoapOut">
    <wsdl:part name="parameters" element="tns:ThemNhaCungCapResponse" />
  </wsdl:message>
  <wsdl:message name="SuaNhaCungCapSoapIn">
    <wsdl:part name="parameters" element="tns:SuaNhaCungCap" />
  </wsdl:message>
  <wsdl:message name="SuaNhaCungCapSoapOut">
    <wsdl:part name="parameters" element="tns:SuaNhaCungCapResponse" />
  </wsdl:message>
  <wsdl:message name="XoaNhaCungCapSoapIn">
    <wsdl:part name="parameters" element="tns:XoaNhaCungCap" />
  </wsdl:message>
  <wsdl:message name="XoaNhaCungCapSoapOut">
    <wsdl:part name="parameters" element="tns:XoaNhaCungCapResponse" />
  </wsdl:message>
  <wsdl:message name="TimKiemNhaCungCapSoapIn">
    <wsdl:part name="parameters" element="tns:TimKiemNhaCungCap" />
  </wsdl:message>
  <wsdl:message name="TimKiemNhaCungCapSoapOut">
    <wsdl:part name="parameters" element="tns:TimKiemNhaCungCapResponse" />
  </wsdl:message>
  <wsdl:portType name="Service_NhaCungCapSoap">
    <wsdl:operation name="LayTatCaNhaCungCap">
      <wsdl:input message="tns:LayTatCaNhaCungCapSoapIn" />
      <wsdl:output message="tns:LayTatCaNhaCungCapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThemNhaCungCap">
      <wsdl:input message="tns:ThemNhaCungCapSoapIn" />
      <wsdl:output message="tns:ThemNhaCungCapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SuaNhaCungCap">
      <wsdl:input message="tns:SuaNhaCungCapSoapIn" />
      <wsdl:output message="tns:SuaNhaCungCapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XoaNhaCungCap">
      <wsdl:input message="tns:XoaNhaCungCapSoapIn" />
      <wsdl:output message="tns:XoaNhaCungCapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemNhaCungCap">
      <wsdl:input message="tns:TimKiemNhaCungCapSoapIn" />
      <wsdl:output message="tns:TimKiemNhaCungCapSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service_NhaCungCapSoap" type="tns:Service_NhaCungCapSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayTatCaNhaCungCap">
      <soap:operation soapAction="http://tempuri.org/LayTatCaNhaCungCap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemNhaCungCap">
      <soap:operation soapAction="http://tempuri.org/ThemNhaCungCap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaNhaCungCap">
      <soap:operation soapAction="http://tempuri.org/SuaNhaCungCap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaNhaCungCap">
      <soap:operation soapAction="http://tempuri.org/XoaNhaCungCap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemNhaCungCap">
      <soap:operation soapAction="http://tempuri.org/TimKiemNhaCungCap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service_NhaCungCapSoap12" type="tns:Service_NhaCungCapSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayTatCaNhaCungCap">
      <soap12:operation soapAction="http://tempuri.org/LayTatCaNhaCungCap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemNhaCungCap">
      <soap12:operation soapAction="http://tempuri.org/ThemNhaCungCap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaNhaCungCap">
      <soap12:operation soapAction="http://tempuri.org/SuaNhaCungCap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaNhaCungCap">
      <soap12:operation soapAction="http://tempuri.org/XoaNhaCungCap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemNhaCungCap">
      <soap12:operation soapAction="http://tempuri.org/TimKiemNhaCungCap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_NhaCungCap">
    <wsdl:port name="Service_NhaCungCapSoap" binding="tns:Service_NhaCungCapSoap">
      <soap:address location="http://localhost:61817/Service_NhaCungCap.asmx" />
    </wsdl:port>
    <wsdl:port name="Service_NhaCungCapSoap12" binding="tns:Service_NhaCungCapSoap12">
      <soap12:address location="http://localhost:61817/Service_NhaCungCap.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>