GiayDep/GiayDep/Web References/Service_CTDH/Service_CTDH.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ThemCTDH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MaDH" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="MaSP" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="MaMau" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="MaSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SoLuong" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="DonGia" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemCTDHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ThemCTDHResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ThemCTDHSoapIn">
    <wsdl:part name="parameters" element="tns:ThemCTDH" />
  </wsdl:message>
  <wsdl:message name="ThemCTDHSoapOut">
    <wsdl:part name="parameters" element="tns:ThemCTDHResponse" />
  </wsdl:message>
  <wsdl:portType name="Service_CTDHSoap">
    <wsdl:operation name="ThemCTDH">
      <wsdl:input message="tns:ThemCTDHSoapIn" />
      <wsdl:output message="tns:ThemCTDHSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service_CTDHSoap" type="tns:Service_CTDHSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThemCTDH">
      <soap:operation soapAction="http://tempuri.org/ThemCTDH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service_CTDHSoap12" type="tns:Service_CTDHSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThemCTDH">
      <soap12:operation soapAction="http://tempuri.org/ThemCTDH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_CTDH">
    <wsdl:port name="Service_CTDHSoap" binding="tns:Service_CTDHSoap">
      <soap:address location="http://localhost:61817/Service_CTDH.asmx" />
    </wsdl:port>
    <wsdl:port name="Service_CTDHSoap12" binding="tns:Service_CTDHSoap12">
      <soap12:address location="http://localhost:61817/Service_CTDH.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>