Service_GiayDep/AdminQuanLyShop/Service References/Service_NhanVien/Service_NhanVien.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LayTatCaNhaNhanVien">
        <s:complexType />
      </s:element>
      <s:element name="LayTatCaNhaNhanVienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LayTatCaNhaNhanVienResult" type="tns:ArrayOfNhanVien" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfNhanVien">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NhanVien" nillable="true" type="tns:NhanVien" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NhanVien">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaNV" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HoTen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MatKhau" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CMND" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QuyenAdmin" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HDNhaps" type="tns:ArrayOfHDNhap" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHDNhap">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HDNhap" nillable="true" type="tns:HDNhap" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HDNhap">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaHDN" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaNCC" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaNV" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayNhap" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TongTien" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TinhTrang" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CTHDNs" type="tns:ArrayOfCTHDN" />
          <s:element minOccurs="0" maxOccurs="1" name="NhaCungCap" type="tns:NhaCungCap" />
          <s:element minOccurs="0" maxOccurs="1" name="NhanVien" type="tns:NhanVien" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCTHDN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CTHDN" nillable="true" type="tns:CTHDN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CTHDN">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaHDN" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaSP" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaMau" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SL" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GiaNhap" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="HDNhap" type="tns:HDNhap" />
          <s:element minOccurs="0" maxOccurs="1" name="Mau" type="tns:Mau" />
          <s:element minOccurs="0" maxOccurs="1" name="SanPham" type="tns:SanPham" />
          <s:element minOccurs="0" maxOccurs="1" name="Size" type="tns:Size" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Mau">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaMau" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenMau" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CTDHs" type="tns:ArrayOfCTDH" />
          <s:element minOccurs="0" maxOccurs="1" name="CTHDNs" type="tns:ArrayOfCTHDN" />
          <s:element minOccurs="0" maxOccurs="1" name="Khoes" type="tns:ArrayOfKho" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCTDH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CTDH" nillable="true" type="tns:CTDH" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CTDH">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaDH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaSP" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaMau" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SL" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DonGia" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DonHang" type="tns:DonHang" />
          <s:element minOccurs="0" maxOccurs="1" name="Mau" type="tns:Mau" />
          <s:element minOccurs="0" maxOccurs="1" name="SanPham" type="tns:SanPham" />
          <s:element minOccurs="0" maxOccurs="1" name="Size" type="tns:Size" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DonHang">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaDH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaKH" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayMua" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TongTien" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TinhTrang" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NVDuyet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CTDHs" type="tns:ArrayOfCTDH" />
          <s:element minOccurs="0" maxOccurs="1" name="KhachHang" type="tns:KhachHang" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KhachHang">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaKH" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HoTen" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NgaySinh" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MatKhau" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GioiTinh" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayDangKi" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DonHangs" type="tns:ArrayOfDonHang" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDonHang">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DonHang" nillable="true" type="tns:DonHang" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SanPham">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaSP" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenSP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MaLoai" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ThuongHieu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HinhAnh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MoTa" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MaKM" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayDang" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="MoTaCT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CTDHs" type="tns:ArrayOfCTDH" />
          <s:element minOccurs="0" maxOccurs="1" name="CTHDNs" type="tns:ArrayOfCTHDN" />
          <s:element minOccurs="0" maxOccurs="1" name="Khoes" type="tns:ArrayOfKho" />
          <s:element minOccurs="0" maxOccurs="1" name="KhuyenMai" type="tns:KhuyenMai" />
          <s:element minOccurs="0" maxOccurs="1" name="Loai" type="tns:Loai" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfKho">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Kho" nillable="true" type="tns:Kho" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Kho">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaSP" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaMau" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SL" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GiaBan" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GiaNhap" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Mau" type="tns:Mau" />
          <s:element minOccurs="0" maxOccurs="1" name="SanPham" type="tns:SanPham" />
          <s:element minOccurs="0" maxOccurs="1" name="Size" type="tns:Size" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Size">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Size1" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CTDHs" type="tns:ArrayOfCTDH" />
          <s:element minOccurs="0" maxOccurs="1" name="CTHDNs" type="tns:ArrayOfCTHDN" />
          <s:element minOccurs="0" maxOccurs="1" name="Khoes" type="tns:ArrayOfKho" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KhuyenMai">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaKM" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenKM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayBD" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayKT" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SanPhams" type="tns:ArrayOfSanPham" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSanPham">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SanPham" nillable="true" type="tns:SanPham" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Loai">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaLoai" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenLoai" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SanPhams" type="tns:ArrayOfSanPham" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NhaCungCap">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaNCC" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenNCC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoTK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HDNhaps" type="tns:ArrayOfHDNhap" />
        </s:sequence>
      </s:complexType>
      <s:element name="ThemNhanVien">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HoTen" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MatKhau" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SDT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CMND" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="QuyenAdmin" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemNhanVienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ThemNhanVienResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuaNhanVien">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MaNV" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="HoTen" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MatKhau" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SDT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CMND" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="QuyenAdmin" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuaNhanVienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SuaNhanVienResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaNhanVien">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MaNV" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaNhanVienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="XoaNhanVienResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemNhanVien">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="x" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemNhanVienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimKiemNhanVienResult" type="tns:ArrayOfNhanVien" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KiemTraNhanVien">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MatKhau" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KiemTraNhanVienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KiemTraNhanVienResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayMotNhanVien">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MatKhau" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayMotNhanVienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LayMotNhanVienResult" type="tns:NhanVien" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckEmailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayNhanVienTheoMa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MaNV" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayNhanVienTheoMaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LayNhanVienTheoMaResult" type="tns:NhanVien" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LayTatCaNhaNhanVienSoapIn">
    <wsdl:part name="parameters" element="tns:LayTatCaNhaNhanVien" />
  </wsdl:message>
  <wsdl:message name="LayTatCaNhaNhanVienSoapOut">
    <wsdl:part name="parameters" element="tns:LayTatCaNhaNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="ThemNhanVienSoapIn">
    <wsdl:part name="parameters" element="tns:ThemNhanVien" />
  </wsdl:message>
  <wsdl:message name="ThemNhanVienSoapOut">
    <wsdl:part name="parameters" element="tns:ThemNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="SuaNhanVienSoapIn">
    <wsdl:part name="parameters" element="tns:SuaNhanVien" />
  </wsdl:message>
  <wsdl:message name="SuaNhanVienSoapOut">
    <wsdl:part name="parameters" element="tns:SuaNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="XoaNhanVienSoapIn">
    <wsdl:part name="parameters" element="tns:XoaNhanVien" />
  </wsdl:message>
  <wsdl:message name="XoaNhanVienSoapOut">
    <wsdl:part name="parameters" element="tns:XoaNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="TimKiemNhanVienSoapIn">
    <wsdl:part name="parameters" element="tns:TimKiemNhanVien" />
  </wsdl:message>
  <wsdl:message name="TimKiemNhanVienSoapOut">
    <wsdl:part name="parameters" element="tns:TimKiemNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="KiemTraNhanVienSoapIn">
    <wsdl:part name="parameters" element="tns:KiemTraNhanVien" />
  </wsdl:message>
  <wsdl:message name="KiemTraNhanVienSoapOut">
    <wsdl:part name="parameters" element="tns:KiemTraNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="LayMotNhanVienSoapIn">
    <wsdl:part name="parameters" element="tns:LayMotNhanVien" />
  </wsdl:message>
  <wsdl:message name="LayMotNhanVienSoapOut">
    <wsdl:part name="parameters" element="tns:LayMotNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="CheckEmailSoapIn">
    <wsdl:part name="parameters" element="tns:CheckEmail" />
  </wsdl:message>
  <wsdl:message name="CheckEmailSoapOut">
    <wsdl:part name="parameters" element="tns:CheckEmailResponse" />
  </wsdl:message>
  <wsdl:message name="LayNhanVienTheoMaSoapIn">
    <wsdl:part name="parameters" element="tns:LayNhanVienTheoMa" />
  </wsdl:message>
  <wsdl:message name="LayNhanVienTheoMaSoapOut">
    <wsdl:part name="parameters" element="tns:LayNhanVienTheoMaResponse" />
  </wsdl:message>
  <wsdl:portType name="Service_NhanVienSoap">
    <wsdl:operation name="LayTatCaNhaNhanVien">
      <wsdl:input message="tns:LayTatCaNhaNhanVienSoapIn" />
      <wsdl:output message="tns:LayTatCaNhaNhanVienSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThemNhanVien">
      <wsdl:input message="tns:ThemNhanVienSoapIn" />
      <wsdl:output message="tns:ThemNhanVienSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SuaNhanVien">
      <wsdl:input message="tns:SuaNhanVienSoapIn" />
      <wsdl:output message="tns:SuaNhanVienSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XoaNhanVien">
      <wsdl:input message="tns:XoaNhanVienSoapIn" />
      <wsdl:output message="tns:XoaNhanVienSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemNhanVien">
      <wsdl:input message="tns:TimKiemNhanVienSoapIn" />
      <wsdl:output message="tns:TimKiemNhanVienSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KiemTraNhanVien">
      <wsdl:input message="tns:KiemTraNhanVienSoapIn" />
      <wsdl:output message="tns:KiemTraNhanVienSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LayMotNhanVien">
      <wsdl:input message="tns:LayMotNhanVienSoapIn" />
      <wsdl:output message="tns:LayMotNhanVienSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckEmail">
      <wsdl:input message="tns:CheckEmailSoapIn" />
      <wsdl:output message="tns:CheckEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LayNhanVienTheoMa">
      <wsdl:input message="tns:LayNhanVienTheoMaSoapIn" />
      <wsdl:output message="tns:LayNhanVienTheoMaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service_NhanVienSoap" type="tns:Service_NhanVienSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayTatCaNhaNhanVien">
      <soap:operation soapAction="http://tempuri.org/LayTatCaNhaNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemNhanVien">
      <soap:operation soapAction="http://tempuri.org/ThemNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaNhanVien">
      <soap:operation soapAction="http://tempuri.org/SuaNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaNhanVien">
      <soap:operation soapAction="http://tempuri.org/XoaNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemNhanVien">
      <soap:operation soapAction="http://tempuri.org/TimKiemNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KiemTraNhanVien">
      <soap:operation soapAction="http://tempuri.org/KiemTraNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayMotNhanVien">
      <soap:operation soapAction="http://tempuri.org/LayMotNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckEmail">
      <soap:operation soapAction="http://tempuri.org/CheckEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayNhanVienTheoMa">
      <soap:operation soapAction="http://tempuri.org/LayNhanVienTheoMa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service_NhanVienSoap12" type="tns:Service_NhanVienSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayTatCaNhaNhanVien">
      <soap12:operation soapAction="http://tempuri.org/LayTatCaNhaNhanVien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemNhanVien">
      <soap12:operation soapAction="http://tempuri.org/ThemNhanVien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaNhanVien">
      <soap12:operation soapAction="http://tempuri.org/SuaNhanVien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaNhanVien">
      <soap12:operation soapAction="http://tempuri.org/XoaNhanVien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemNhanVien">
      <soap12:operation soapAction="http://tempuri.org/TimKiemNhanVien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KiemTraNhanVien">
      <soap12:operation soapAction="http://tempuri.org/KiemTraNhanVien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayMotNhanVien">
      <soap12:operation soapAction="http://tempuri.org/LayMotNhanVien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckEmail">
      <soap12:operation soapAction="http://tempuri.org/CheckEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayNhanVienTheoMa">
      <soap12:operation soapAction="http://tempuri.org/LayNhanVienTheoMa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_NhanVien">
    <wsdl:port name="Service_NhanVienSoap" binding="tns:Service_NhanVienSoap">
      <soap:address location="http://localhost:61817/Service_NhanVien.asmx" />
    </wsdl:port>
    <wsdl:port name="Service_NhanVienSoap12" binding="tns:Service_NhanVienSoap12">
      <soap12:address location="http://localhost:61817/Service_NhanVien.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>