GiayDep_huyservice.azure/GiayDep/Service References/Service_Size/Service_Size.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service_Size" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IService_Size_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://huyservice.azurewebsites.net/Service_Size.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://huyservice.azurewebsites.net/Service_Size.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://huyservice.azurewebsites.net/Service_Size.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Size_LayTatCaSize_InputMessage">
    <wsdl:part name="parameters" element="tns:LayTatCaSize" />
  </wsdl:message>
  <wsdl:message name="IService_Size_LayTatCaSize_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayTatCaSizeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Size_ThemSize_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemSize" />
  </wsdl:message>
  <wsdl:message name="IService_Size_ThemSize_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemSizeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Size_SuaSize_InputMessage">
    <wsdl:part name="parameters" element="tns:SuaSize" />
  </wsdl:message>
  <wsdl:message name="IService_Size_SuaSize_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuaSizeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Size_XoaSize_InputMessage">
    <wsdl:part name="parameters" element="tns:XoaSize" />
  </wsdl:message>
  <wsdl:message name="IService_Size_XoaSize_OutputMessage">
    <wsdl:part name="parameters" element="tns:XoaSizeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Size_LaySizeTheoMa_InputMessage">
    <wsdl:part name="parameters" element="tns:LaySizeTheoMa" />
  </wsdl:message>
  <wsdl:message name="IService_Size_LaySizeTheoMa_OutputMessage">
    <wsdl:part name="parameters" element="tns:LaySizeTheoMaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService_Size">
    <wsdl:operation name="LayTatCaSize">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Size/LayTatCaSize" message="tns:IService_Size_LayTatCaSize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Size/LayTatCaSizeResponse" message="tns:IService_Size_LayTatCaSize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemSize">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Size/ThemSize" message="tns:IService_Size_ThemSize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Size/ThemSizeResponse" message="tns:IService_Size_ThemSize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuaSize">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Size/SuaSize" message="tns:IService_Size_SuaSize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Size/SuaSizeResponse" message="tns:IService_Size_SuaSize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XoaSize">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Size/XoaSize" message="tns:IService_Size_XoaSize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Size/XoaSizeResponse" message="tns:IService_Size_XoaSize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LaySizeTheoMa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Size/LaySizeTheoMa" message="tns:IService_Size_LaySizeTheoMa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Size/LaySizeTheoMaResponse" message="tns:IService_Size_LaySizeTheoMa_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService_Size" type="tns:IService_Size">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayTatCaSize">
      <soap:operation soapAction="http://tempuri.org/IService_Size/LayTatCaSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemSize">
      <soap:operation soapAction="http://tempuri.org/IService_Size/ThemSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaSize">
      <soap:operation soapAction="http://tempuri.org/IService_Size/SuaSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaSize">
      <soap:operation soapAction="http://tempuri.org/IService_Size/XoaSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LaySizeTheoMa">
      <soap:operation soapAction="http://tempuri.org/IService_Size/LaySizeTheoMa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IService_Size" type="tns:IService_Size">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IService_Size_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayTatCaSize">
      <soap:operation soapAction="http://tempuri.org/IService_Size/LayTatCaSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemSize">
      <soap:operation soapAction="http://tempuri.org/IService_Size/ThemSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaSize">
      <soap:operation soapAction="http://tempuri.org/IService_Size/SuaSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaSize">
      <soap:operation soapAction="http://tempuri.org/IService_Size/XoaSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LaySizeTheoMa">
      <soap:operation soapAction="http://tempuri.org/IService_Size/LaySizeTheoMa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_Size">
    <wsdl:port name="BasicHttpBinding_IService_Size" binding="tns:BasicHttpBinding_IService_Size">
      <soap:address location="http://huyservice.azurewebsites.net/Service_Size.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IService_Size" binding="tns:BasicHttpsBinding_IService_Size">
      <soap:address location="https://huyservice.azurewebsites.net/Service_Size.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>