AdminQuanLyShop/AdminQuanLyShop/Service References/Service_Size/Service_Size2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://huyservice.azurewebsites.net/Service_Size.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" />
  <xs:element name="LayTatCaSize">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTatCaSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" minOccurs="0" name="LayTatCaSizeResult" nillable="true" type="q1:ArrayOfSize" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Size" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemSizeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaSize" type="xs:int" />
        <xs:element minOccurs="0" name="Size" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaSizeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaSizeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaySizeTheoMa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaySizeTheoMaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" minOccurs="0" name="LaySizeTheoMaResult" nillable="true" type="q2:Size" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>