Admin_QuanLyShop/Admin_QuanLyShop/Service References/Service_Loai/Service_Loai.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LayTatCaLoai">
        <s:complexType />
      </s:element>
      <s:element name="LayTatCaLoaiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LayTatCaLoaiResult" type="tns:ArrayOfLoai" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLoai">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Loai" nillable="true" type="tns:Loai" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Loai">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaLoai" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenLoai" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SanPhams" type="tns:ArrayOfSanPham" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSanPham">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SanPham" nillable="true" type="tns:SanPham" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SanPham">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaSP" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenSP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MaLoai" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ThuongHieu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Size" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MauSac" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GiaSP" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="HinhAnh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HinhAnh1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HinhAnh2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HinhAnh3" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SoLuong" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MoTa" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KM" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayCapNhat" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CTDHs" type="tns:ArrayOfCTDH" />
          <s:element minOccurs="0" maxOccurs="1" name="CTHoaDonNhaps" type="tns:ArrayOfCTHoaDonNhap" />
          <s:element minOccurs="0" maxOccurs="1" name="Loai" type="tns:Loai" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCTDH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CTDH" nillable="true" type="tns:CTDH" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CTDH">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaDH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaSP" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SoLuong" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DonGia" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DonHang" type="tns:DonHang" />
          <s:element minOccurs="0" maxOccurs="1" name="SanPham" type="tns:SanPham" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DonHang">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaDH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaKH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaNV" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayLap" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TongTien" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="TinhTrang" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CTDHs" type="tns:ArrayOfCTDH" />
          <s:element minOccurs="0" maxOccurs="1" name="KhachHang" type="tns:KhachHang" />
          <s:element minOccurs="0" maxOccurs="1" name="NhanVien" type="tns:NhanVien" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KhachHang">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaKH" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HoTen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoDT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoTK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MatKhau" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DonHangs" type="tns:ArrayOfDonHang" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDonHang">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DonHang" nillable="true" type="tns:DonHang" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NhanVien">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaNV" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HoTen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoDT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CMND" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MatKhau" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DonHangs" type="tns:ArrayOfDonHang" />
          <s:element minOccurs="0" maxOccurs="1" name="HoaDonNhaps" type="tns:ArrayOfHoaDonNhap" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHoaDonNhap">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HoaDonNhap" nillable="true" type="tns:HoaDonNhap" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HoaDonNhap">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaHDN" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaNCC" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaNV" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayLap" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TongTien" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TinhTrang" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CTHoaDonNhaps" type="tns:ArrayOfCTHoaDonNhap" />
          <s:element minOccurs="0" maxOccurs="1" name="NhaCungCap" type="tns:NhaCungCap" />
          <s:element minOccurs="0" maxOccurs="1" name="NhanVien" type="tns:NhanVien" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCTHoaDonNhap">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CTHoaDonNhap" nillable="true" type="tns:CTHoaDonNhap" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CTHoaDonNhap">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaHDN" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaSP" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SoLuong" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DonGia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HoaDonNhap" type="tns:HoaDonNhap" />
          <s:element minOccurs="0" maxOccurs="1" name="SanPham" type="tns:SanPham" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NhaCungCap">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaNCC" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenNCC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoDT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoTK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HoaDonNhaps" type="tns:ArrayOfHoaDonNhap" />
        </s:sequence>
      </s:complexType>
      <s:element name="ThemLoai">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TenLoai" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemLoaiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ThemLoaiResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuaLoai">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MaLoai" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TenLoai" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuaLoaiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SuaLoaiResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaLoai">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MaLoai" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaLoaiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="XoaLoaiResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LayTatCaLoaiSoapIn">
    <wsdl:part name="parameters" element="tns:LayTatCaLoai" />
  </wsdl:message>
  <wsdl:message name="LayTatCaLoaiSoapOut">
    <wsdl:part name="parameters" element="tns:LayTatCaLoaiResponse" />
  </wsdl:message>
  <wsdl:message name="ThemLoaiSoapIn">
    <wsdl:part name="parameters" element="tns:ThemLoai" />
  </wsdl:message>
  <wsdl:message name="ThemLoaiSoapOut">
    <wsdl:part name="parameters" element="tns:ThemLoaiResponse" />
  </wsdl:message>
  <wsdl:message name="SuaLoaiSoapIn">
    <wsdl:part name="parameters" element="tns:SuaLoai" />
  </wsdl:message>
  <wsdl:message name="SuaLoaiSoapOut">
    <wsdl:part name="parameters" element="tns:SuaLoaiResponse" />
  </wsdl:message>
  <wsdl:message name="XoaLoaiSoapIn">
    <wsdl:part name="parameters" element="tns:XoaLoai" />
  </wsdl:message>
  <wsdl:message name="XoaLoaiSoapOut">
    <wsdl:part name="parameters" element="tns:XoaLoaiResponse" />
  </wsdl:message>
  <wsdl:portType name="Service_LoaiSoap">
    <wsdl:operation name="LayTatCaLoai">
      <wsdl:input message="tns:LayTatCaLoaiSoapIn" />
      <wsdl:output message="tns:LayTatCaLoaiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThemLoai">
      <wsdl:input message="tns:ThemLoaiSoapIn" />
      <wsdl:output message="tns:ThemLoaiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SuaLoai">
      <wsdl:input message="tns:SuaLoaiSoapIn" />
      <wsdl:output message="tns:SuaLoaiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XoaLoai">
      <wsdl:input message="tns:XoaLoaiSoapIn" />
      <wsdl:output message="tns:XoaLoaiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service_LoaiSoap" type="tns:Service_LoaiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayTatCaLoai">
      <soap:operation soapAction="http://tempuri.org/LayTatCaLoai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemLoai">
      <soap:operation soapAction="http://tempuri.org/ThemLoai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaLoai">
      <soap:operation soapAction="http://tempuri.org/SuaLoai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaLoai">
      <soap:operation soapAction="http://tempuri.org/XoaLoai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service_LoaiSoap12" type="tns:Service_LoaiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayTatCaLoai">
      <soap12:operation soapAction="http://tempuri.org/LayTatCaLoai" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemLoai">
      <soap12:operation soapAction="http://tempuri.org/ThemLoai" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaLoai">
      <soap12:operation soapAction="http://tempuri.org/SuaLoai" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaLoai">
      <soap12:operation soapAction="http://tempuri.org/XoaLoai" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_Loai">
    <wsdl:port name="Service_LoaiSoap" binding="tns:Service_LoaiSoap">
      <soap:address location="http://localhost:61817/Service_Loai.asmx" />
    </wsdl:port>
    <wsdl:port name="Service_LoaiSoap12" binding="tns:Service_LoaiSoap12">
      <soap12:address location="http://localhost:61817/Service_Loai.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>