GiayDep/GiayDep/Web References/Service_SanPham_Kho/Service_SanPham_Kho.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LayKhoTheoSP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MaSP" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="MaMau" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayKhoTheoSPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LayKhoTheoSPResult" type="tns:ArrayOfSanPham_Price" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSanPham_Price">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SanPham_Price" nillable="true" type="tns:SanPham_Price" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SanPham_Price">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="_MaSP" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="_MaMau" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="_TenSP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="_Size" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="_TenMau" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="_GiaSP" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="_HinhAnh" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SanphammoiPartial">
        <s:complexType />
      </s:element>
      <s:element name="SanphammoiPartialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SanphammoiPartialResult" type="tns:ArrayOfSanPham_Price" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SanphamkhuyenmaiPartial">
        <s:complexType />
      </s:element>
      <s:element name="SanphamkhuyenmaiPartialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SanphamkhuyenmaiPartialResult" type="tns:ArrayOfSanPham_Price" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LayKhoTheoSPSoapIn">
    <wsdl:part name="parameters" element="tns:LayKhoTheoSP" />
  </wsdl:message>
  <wsdl:message name="LayKhoTheoSPSoapOut">
    <wsdl:part name="parameters" element="tns:LayKhoTheoSPResponse" />
  </wsdl:message>
  <wsdl:message name="SanphammoiPartialSoapIn">
    <wsdl:part name="parameters" element="tns:SanphammoiPartial" />
  </wsdl:message>
  <wsdl:message name="SanphammoiPartialSoapOut">
    <wsdl:part name="parameters" element="tns:SanphammoiPartialResponse" />
  </wsdl:message>
  <wsdl:message name="SanphamkhuyenmaiPartialSoapIn">
    <wsdl:part name="parameters" element="tns:SanphamkhuyenmaiPartial" />
  </wsdl:message>
  <wsdl:message name="SanphamkhuyenmaiPartialSoapOut">
    <wsdl:part name="parameters" element="tns:SanphamkhuyenmaiPartialResponse" />
  </wsdl:message>
  <wsdl:portType name="Service_SanPham_KhoSoap">
    <wsdl:operation name="LayKhoTheoSP">
      <wsdl:input message="tns:LayKhoTheoSPSoapIn" />
      <wsdl:output message="tns:LayKhoTheoSPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SanphammoiPartial">
      <wsdl:input message="tns:SanphammoiPartialSoapIn" />
      <wsdl:output message="tns:SanphammoiPartialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SanphamkhuyenmaiPartial">
      <wsdl:input message="tns:SanphamkhuyenmaiPartialSoapIn" />
      <wsdl:output message="tns:SanphamkhuyenmaiPartialSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service_SanPham_KhoSoap" type="tns:Service_SanPham_KhoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayKhoTheoSP">
      <soap:operation soapAction="http://tempuri.org/LayKhoTheoSP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SanphammoiPartial">
      <soap:operation soapAction="http://tempuri.org/SanphammoiPartial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SanphamkhuyenmaiPartial">
      <soap:operation soapAction="http://tempuri.org/SanphamkhuyenmaiPartial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service_SanPham_KhoSoap12" type="tns:Service_SanPham_KhoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayKhoTheoSP">
      <soap12:operation soapAction="http://tempuri.org/LayKhoTheoSP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SanphammoiPartial">
      <soap12:operation soapAction="http://tempuri.org/SanphammoiPartial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SanphamkhuyenmaiPartial">
      <soap12:operation soapAction="http://tempuri.org/SanphamkhuyenmaiPartial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_SanPham_Kho">
    <wsdl:port name="Service_SanPham_KhoSoap" binding="tns:Service_SanPham_KhoSoap">
      <soap:address location="http://servicegiaydep.azurewebsites.net/Service_SanPham_Kho.asmx" />
    </wsdl:port>
    <wsdl:port name="Service_SanPham_KhoSoap12" binding="tns:Service_SanPham_KhoSoap12">
      <soap12:address location="http://servicegiaydep.azurewebsites.net/Service_SanPham_Kho.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>