AdminQuanLyShop/AdminQuanLyShop/Service References/Service_KhachHang/Service_KhachHang1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://huyservice.azurewebsites.net/Service_KhachHang.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" />
  <xs:element name="LayTatCaKhachHang">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTatCaKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" minOccurs="0" name="LayTatCaKhachHangResult" nillable="true" type="q1:ArrayOfKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaKhachHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaKH" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaKhachHangResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemKhachHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HoTen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SDT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" minOccurs="0" name="TimKiemKhachHangResult" nillable="true" type="q2:ArrayOfKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemKhachHang_GioiTinh">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HoTen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SDT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GioiTinh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemKhachHang_GioiTinhResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" minOccurs="0" name="TimKiemKhachHang_GioiTinhResult" nillable="true" type="q3:ArrayOfKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemKhachHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HoTen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NgaySinh" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MatKhau" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SDT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DiaChi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GioiTinh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemKhachHangResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" minOccurs="0" name="LoginResult" nillable="true" type="q4:KhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>