AdminQuanLyShop/AdminQuanLyShop/Service References/Service_KhachHang/Service_KhachHang.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service_KhachHang" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IService_KhachHang_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://huyservice.azurewebsites.net/Service_KhachHang.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://huyservice.azurewebsites.net/Service_KhachHang.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://huyservice.azurewebsites.net/Service_KhachHang.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_KhachHang_LayTatCaKhachHang_InputMessage">
    <wsdl:part name="parameters" element="tns:LayTatCaKhachHang" />
  </wsdl:message>
  <wsdl:message name="IService_KhachHang_LayTatCaKhachHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayTatCaKhachHangResponse" />
  </wsdl:message>
  <wsdl:message name="IService_KhachHang_XoaKhachHang_InputMessage">
    <wsdl:part name="parameters" element="tns:XoaKhachHang" />
  </wsdl:message>
  <wsdl:message name="IService_KhachHang_XoaKhachHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:XoaKhachHangResponse" />
  </wsdl:message>
  <wsdl:message name="IService_KhachHang_TimKiemKhachHang_InputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemKhachHang" />
  </wsdl:message>
  <wsdl:message name="IService_KhachHang_TimKiemKhachHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemKhachHangResponse" />
  </wsdl:message>
  <wsdl:message name="IService_KhachHang_TimKiemKhachHang_GioiTinh_InputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemKhachHang_GioiTinh" />
  </wsdl:message>
  <wsdl:message name="IService_KhachHang_TimKiemKhachHang_GioiTinh_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemKhachHang_GioiTinhResponse" />
  </wsdl:message>
  <wsdl:message name="IService_KhachHang_ThemKhachHang_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemKhachHang" />
  </wsdl:message>
  <wsdl:message name="IService_KhachHang_ThemKhachHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemKhachHangResponse" />
  </wsdl:message>
  <wsdl:message name="IService_KhachHang_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService_KhachHang_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IService_KhachHang">
    <wsdl:operation name="LayTatCaKhachHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_KhachHang/LayTatCaKhachHang" message="tns:IService_KhachHang_LayTatCaKhachHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_KhachHang/LayTatCaKhachHangResponse" message="tns:IService_KhachHang_LayTatCaKhachHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XoaKhachHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_KhachHang/XoaKhachHang" message="tns:IService_KhachHang_XoaKhachHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_KhachHang/XoaKhachHangResponse" message="tns:IService_KhachHang_XoaKhachHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemKhachHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_KhachHang/TimKiemKhachHang" message="tns:IService_KhachHang_TimKiemKhachHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_KhachHang/TimKiemKhachHangResponse" message="tns:IService_KhachHang_TimKiemKhachHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemKhachHang_GioiTinh">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_KhachHang/TimKiemKhachHang_GioiTinh" message="tns:IService_KhachHang_TimKiemKhachHang_GioiTinh_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_KhachHang/TimKiemKhachHang_GioiTinhResponse" message="tns:IService_KhachHang_TimKiemKhachHang_GioiTinh_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemKhachHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_KhachHang/ThemKhachHang" message="tns:IService_KhachHang_ThemKhachHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_KhachHang/ThemKhachHangResponse" message="tns:IService_KhachHang_ThemKhachHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_KhachHang/Login" message="tns:IService_KhachHang_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_KhachHang/LoginResponse" message="tns:IService_KhachHang_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService_KhachHang" type="tns:IService_KhachHang">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayTatCaKhachHang">
      <soap:operation soapAction="http://tempuri.org/IService_KhachHang/LayTatCaKhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaKhachHang">
      <soap:operation soapAction="http://tempuri.org/IService_KhachHang/XoaKhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemKhachHang">
      <soap:operation soapAction="http://tempuri.org/IService_KhachHang/TimKiemKhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemKhachHang_GioiTinh">
      <soap:operation soapAction="http://tempuri.org/IService_KhachHang/TimKiemKhachHang_GioiTinh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemKhachHang">
      <soap:operation soapAction="http://tempuri.org/IService_KhachHang/ThemKhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService_KhachHang/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IService_KhachHang" type="tns:IService_KhachHang">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IService_KhachHang_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayTatCaKhachHang">
      <soap:operation soapAction="http://tempuri.org/IService_KhachHang/LayTatCaKhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaKhachHang">
      <soap:operation soapAction="http://tempuri.org/IService_KhachHang/XoaKhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemKhachHang">
      <soap:operation soapAction="http://tempuri.org/IService_KhachHang/TimKiemKhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemKhachHang_GioiTinh">
      <soap:operation soapAction="http://tempuri.org/IService_KhachHang/TimKiemKhachHang_GioiTinh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemKhachHang">
      <soap:operation soapAction="http://tempuri.org/IService_KhachHang/ThemKhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService_KhachHang/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_KhachHang">
    <wsdl:port name="BasicHttpBinding_IService_KhachHang" binding="tns:BasicHttpBinding_IService_KhachHang">
      <soap:address location="http://huyservice.azurewebsites.net/Service_KhachHang.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IService_KhachHang" binding="tns:BasicHttpsBinding_IService_KhachHang">
      <soap:address location="https://huyservice.azurewebsites.net/Service_KhachHang.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>