GiayDep/GiayDep/Web References/Service_SanPham/Service_SanPham.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LayTatCaSanPham">
        <s:complexType />
      </s:element>
      <s:element name="LayTatCaSanPhamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LayTatCaSanPhamResult" type="tns:ArrayOfSanPham" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSanPham">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SanPham" nillable="true" type="tns:SanPham" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SanPham">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaSP" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenSP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MaLoai" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ThuongHieu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HinhAnh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MoTa" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MaKM" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayDang" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="MoTaCT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CTDHs" type="tns:ArrayOfCTDH" />
          <s:element minOccurs="0" maxOccurs="1" name="CTHDNs" type="tns:ArrayOfCTHDN" />
          <s:element minOccurs="0" maxOccurs="1" name="Khoes" type="tns:ArrayOfKho" />
          <s:element minOccurs="0" maxOccurs="1" name="KhuyenMai" type="tns:KhuyenMai" />
          <s:element minOccurs="0" maxOccurs="1" name="Loai" type="tns:Loai" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCTDH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CTDH" nillable="true" type="tns:CTDH" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CTDH">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaDH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaSP" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaMau" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SL" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DonGia" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DonHang" type="tns:DonHang" />
          <s:element minOccurs="0" maxOccurs="1" name="Mau" type="tns:Mau" />
          <s:element minOccurs="0" maxOccurs="1" name="SanPham" type="tns:SanPham" />
          <s:element minOccurs="0" maxOccurs="1" name="Size" type="tns:Size" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DonHang">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaDH" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaKH" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayMua" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TongTien" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TinhTrang" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NVDuyet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CTDHs" type="tns:ArrayOfCTDH" />
          <s:element minOccurs="0" maxOccurs="1" name="KhachHang" type="tns:KhachHang" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KhachHang">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaKH" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HoTen" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NgaySinh" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MatKhau" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GioiTinh" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayDangKi" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DonHangs" type="tns:ArrayOfDonHang" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDonHang">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DonHang" nillable="true" type="tns:DonHang" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Mau">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaMau" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenMau" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CTDHs" type="tns:ArrayOfCTDH" />
          <s:element minOccurs="0" maxOccurs="1" name="CTHDNs" type="tns:ArrayOfCTHDN" />
          <s:element minOccurs="0" maxOccurs="1" name="Khoes" type="tns:ArrayOfKho" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCTHDN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CTHDN" nillable="true" type="tns:CTHDN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CTHDN">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaHDN" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaSP" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaMau" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SL" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GiaNhap" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="HDNhap" type="tns:HDNhap" />
          <s:element minOccurs="0" maxOccurs="1" name="Mau" type="tns:Mau" />
          <s:element minOccurs="0" maxOccurs="1" name="SanPham" type="tns:SanPham" />
          <s:element minOccurs="0" maxOccurs="1" name="Size" type="tns:Size" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HDNhap">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaHDN" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaNCC" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaNV" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayNhap" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TongTien" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TinhTrang" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CTHDNs" type="tns:ArrayOfCTHDN" />
          <s:element minOccurs="0" maxOccurs="1" name="NhaCungCap" type="tns:NhaCungCap" />
          <s:element minOccurs="0" maxOccurs="1" name="NhanVien" type="tns:NhanVien" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NhaCungCap">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaNCC" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenNCC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoTK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HDNhaps" type="tns:ArrayOfHDNhap" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHDNhap">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HDNhap" nillable="true" type="tns:HDNhap" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NhanVien">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaNV" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HoTen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MatKhau" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CMND" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QuyenAdmin" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HDNhaps" type="tns:ArrayOfHDNhap" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Size">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Size1" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CTDHs" type="tns:ArrayOfCTDH" />
          <s:element minOccurs="0" maxOccurs="1" name="CTHDNs" type="tns:ArrayOfCTHDN" />
          <s:element minOccurs="0" maxOccurs="1" name="Khoes" type="tns:ArrayOfKho" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfKho">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Kho" nillable="true" type="tns:Kho" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Kho">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaSP" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaMau" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SL" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GiaBan" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GiaNhap" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Mau" type="tns:Mau" />
          <s:element minOccurs="0" maxOccurs="1" name="SanPham" type="tns:SanPham" />
          <s:element minOccurs="0" maxOccurs="1" name="Size" type="tns:Size" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KhuyenMai">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaKM" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenKM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayBD" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayKT" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SanPhams" type="tns:ArrayOfSanPham" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Loai">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaLoai" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenLoai" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SanPhams" type="tns:ArrayOfSanPham" />
        </s:sequence>
      </s:complexType>
      <s:element name="ThemSanPham">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TenSP" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MaLoai" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ThuongHieu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HinhAnh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MoTa" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MaKM" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="NgayDang" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="MoTaCT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemSanPhamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ThemSanPhamResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuaSanPham">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MaSP" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TenSP" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MaLoai" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ThuongHieu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HinhAnh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MoTa" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MaKM" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="NgayDang" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="MoTaCT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuaSanPhamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SuaSanPhamResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaSanPham">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MaSP" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaSanPhamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="XoaSanPhamResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemSanPham">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Tim" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemSanPhamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimKiemSanPhamResult" type="tns:ArrayOfSanPham" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SanphammoiPartial">
        <s:complexType />
      </s:element>
      <s:element name="SanphammoiPartialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SanphammoiPartialResult" type="tns:ArrayOfSanPham" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SanphamkhuyenmaiPartial">
        <s:complexType />
      </s:element>
      <s:element name="SanphamkhuyenmaiPartialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SanphamkhuyenmaiPartialResult" type="tns:ArrayOfSanPham" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Chitietsanpham">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="masp" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChitietsanphamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChitietsanphamResult" type="tns:SanPham" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LaySanPham">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="imasp" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LaySanPhamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LaySanPhamResult" type="tns:SanPham" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSanPham">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TenSP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSanPhamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckSanPhamResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayMa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="masp" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayMaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LayMaResult" type="tns:SanPham" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThuongHieuNam">
        <s:complexType />
      </s:element>
      <s:element name="ThuongHieuNamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ThuongHieuNamResult" type="tns:ArrayOfTH" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TH" nillable="true" type="tns:TH" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TH">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="_ThuongHieu" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ThuongHieuNu">
        <s:complexType />
      </s:element>
      <s:element name="ThuongHieuNuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ThuongHieuNuResult" type="tns:ArrayOfTH" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThuongHieuTreEm">
        <s:complexType />
      </s:element>
      <s:element name="ThuongHieuTreEmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ThuongHieuTreEmResult" type="tns:ArrayOfTH" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LayTatCaSanPhamSoapIn">
    <wsdl:part name="parameters" element="tns:LayTatCaSanPham" />
  </wsdl:message>
  <wsdl:message name="LayTatCaSanPhamSoapOut">
    <wsdl:part name="parameters" element="tns:LayTatCaSanPhamResponse" />
  </wsdl:message>
  <wsdl:message name="ThemSanPhamSoapIn">
    <wsdl:part name="parameters" element="tns:ThemSanPham" />
  </wsdl:message>
  <wsdl:message name="ThemSanPhamSoapOut">
    <wsdl:part name="parameters" element="tns:ThemSanPhamResponse" />
  </wsdl:message>
  <wsdl:message name="SuaSanPhamSoapIn">
    <wsdl:part name="parameters" element="tns:SuaSanPham" />
  </wsdl:message>
  <wsdl:message name="SuaSanPhamSoapOut">
    <wsdl:part name="parameters" element="tns:SuaSanPhamResponse" />
  </wsdl:message>
  <wsdl:message name="XoaSanPhamSoapIn">
    <wsdl:part name="parameters" element="tns:XoaSanPham" />
  </wsdl:message>
  <wsdl:message name="XoaSanPhamSoapOut">
    <wsdl:part name="parameters" element="tns:XoaSanPhamResponse" />
  </wsdl:message>
  <wsdl:message name="TimKiemSanPhamSoapIn">
    <wsdl:part name="parameters" element="tns:TimKiemSanPham" />
  </wsdl:message>
  <wsdl:message name="TimKiemSanPhamSoapOut">
    <wsdl:part name="parameters" element="tns:TimKiemSanPhamResponse" />
  </wsdl:message>
  <wsdl:message name="SanphammoiPartialSoapIn">
    <wsdl:part name="parameters" element="tns:SanphammoiPartial" />
  </wsdl:message>
  <wsdl:message name="SanphammoiPartialSoapOut">
    <wsdl:part name="parameters" element="tns:SanphammoiPartialResponse" />
  </wsdl:message>
  <wsdl:message name="SanphamkhuyenmaiPartialSoapIn">
    <wsdl:part name="parameters" element="tns:SanphamkhuyenmaiPartial" />
  </wsdl:message>
  <wsdl:message name="SanphamkhuyenmaiPartialSoapOut">
    <wsdl:part name="parameters" element="tns:SanphamkhuyenmaiPartialResponse" />
  </wsdl:message>
  <wsdl:message name="ChitietsanphamSoapIn">
    <wsdl:part name="parameters" element="tns:Chitietsanpham" />
  </wsdl:message>
  <wsdl:message name="ChitietsanphamSoapOut">
    <wsdl:part name="parameters" element="tns:ChitietsanphamResponse" />
  </wsdl:message>
  <wsdl:message name="LaySanPhamSoapIn">
    <wsdl:part name="parameters" element="tns:LaySanPham" />
  </wsdl:message>
  <wsdl:message name="LaySanPhamSoapOut">
    <wsdl:part name="parameters" element="tns:LaySanPhamResponse" />
  </wsdl:message>
  <wsdl:message name="CheckSanPhamSoapIn">
    <wsdl:part name="parameters" element="tns:CheckSanPham" />
  </wsdl:message>
  <wsdl:message name="CheckSanPhamSoapOut">
    <wsdl:part name="parameters" element="tns:CheckSanPhamResponse" />
  </wsdl:message>
  <wsdl:message name="LayMaSoapIn">
    <wsdl:part name="parameters" element="tns:LayMa" />
  </wsdl:message>
  <wsdl:message name="LayMaSoapOut">
    <wsdl:part name="parameters" element="tns:LayMaResponse" />
  </wsdl:message>
  <wsdl:message name="ThuongHieuNamSoapIn">
    <wsdl:part name="parameters" element="tns:ThuongHieuNam" />
  </wsdl:message>
  <wsdl:message name="ThuongHieuNamSoapOut">
    <wsdl:part name="parameters" element="tns:ThuongHieuNamResponse" />
  </wsdl:message>
  <wsdl:message name="ThuongHieuNuSoapIn">
    <wsdl:part name="parameters" element="tns:ThuongHieuNu" />
  </wsdl:message>
  <wsdl:message name="ThuongHieuNuSoapOut">
    <wsdl:part name="parameters" element="tns:ThuongHieuNuResponse" />
  </wsdl:message>
  <wsdl:message name="ThuongHieuTreEmSoapIn">
    <wsdl:part name="parameters" element="tns:ThuongHieuTreEm" />
  </wsdl:message>
  <wsdl:message name="ThuongHieuTreEmSoapOut">
    <wsdl:part name="parameters" element="tns:ThuongHieuTreEmResponse" />
  </wsdl:message>
  <wsdl:portType name="Service_SanPhamSoap">
    <wsdl:operation name="LayTatCaSanPham">
      <wsdl:input message="tns:LayTatCaSanPhamSoapIn" />
      <wsdl:output message="tns:LayTatCaSanPhamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThemSanPham">
      <wsdl:input message="tns:ThemSanPhamSoapIn" />
      <wsdl:output message="tns:ThemSanPhamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SuaSanPham">
      <wsdl:input message="tns:SuaSanPhamSoapIn" />
      <wsdl:output message="tns:SuaSanPhamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XoaSanPham">
      <wsdl:input message="tns:XoaSanPhamSoapIn" />
      <wsdl:output message="tns:XoaSanPhamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemSanPham">
      <wsdl:input message="tns:TimKiemSanPhamSoapIn" />
      <wsdl:output message="tns:TimKiemSanPhamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SanphammoiPartial">
      <wsdl:input message="tns:SanphammoiPartialSoapIn" />
      <wsdl:output message="tns:SanphammoiPartialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SanphamkhuyenmaiPartial">
      <wsdl:input message="tns:SanphamkhuyenmaiPartialSoapIn" />
      <wsdl:output message="tns:SanphamkhuyenmaiPartialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Chitietsanpham">
      <wsdl:input message="tns:ChitietsanphamSoapIn" />
      <wsdl:output message="tns:ChitietsanphamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LaySanPham">
      <wsdl:input message="tns:LaySanPhamSoapIn" />
      <wsdl:output message="tns:LaySanPhamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckSanPham">
      <wsdl:input message="tns:CheckSanPhamSoapIn" />
      <wsdl:output message="tns:CheckSanPhamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LayMa">
      <wsdl:input message="tns:LayMaSoapIn" />
      <wsdl:output message="tns:LayMaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThuongHieuNam">
      <wsdl:input message="tns:ThuongHieuNamSoapIn" />
      <wsdl:output message="tns:ThuongHieuNamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThuongHieuNu">
      <wsdl:input message="tns:ThuongHieuNuSoapIn" />
      <wsdl:output message="tns:ThuongHieuNuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThuongHieuTreEm">
      <wsdl:input message="tns:ThuongHieuTreEmSoapIn" />
      <wsdl:output message="tns:ThuongHieuTreEmSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service_SanPhamSoap" type="tns:Service_SanPhamSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayTatCaSanPham">
      <soap:operation soapAction="http://tempuri.org/LayTatCaSanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemSanPham">
      <soap:operation soapAction="http://tempuri.org/ThemSanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaSanPham">
      <soap:operation soapAction="http://tempuri.org/SuaSanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaSanPham">
      <soap:operation soapAction="http://tempuri.org/XoaSanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemSanPham">
      <soap:operation soapAction="http://tempuri.org/TimKiemSanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SanphammoiPartial">
      <soap:operation soapAction="http://tempuri.org/SanphammoiPartial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SanphamkhuyenmaiPartial">
      <soap:operation soapAction="http://tempuri.org/SanphamkhuyenmaiPartial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Chitietsanpham">
      <soap:operation soapAction="http://tempuri.org/Chitietsanpham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LaySanPham">
      <soap:operation soapAction="http://tempuri.org/LaySanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSanPham">
      <soap:operation soapAction="http://tempuri.org/CheckSanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayMa">
      <soap:operation soapAction="http://tempuri.org/LayMa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThuongHieuNam">
      <soap:operation soapAction="http://tempuri.org/ThuongHieuNam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThuongHieuNu">
      <soap:operation soapAction="http://tempuri.org/ThuongHieuNu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThuongHieuTreEm">
      <soap:operation soapAction="http://tempuri.org/ThuongHieuTreEm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service_SanPhamSoap12" type="tns:Service_SanPhamSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayTatCaSanPham">
      <soap12:operation soapAction="http://tempuri.org/LayTatCaSanPham" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemSanPham">
      <soap12:operation soapAction="http://tempuri.org/ThemSanPham" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaSanPham">
      <soap12:operation soapAction="http://tempuri.org/SuaSanPham" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaSanPham">
      <soap12:operation soapAction="http://tempuri.org/XoaSanPham" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemSanPham">
      <soap12:operation soapAction="http://tempuri.org/TimKiemSanPham" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SanphammoiPartial">
      <soap12:operation soapAction="http://tempuri.org/SanphammoiPartial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SanphamkhuyenmaiPartial">
      <soap12:operation soapAction="http://tempuri.org/SanphamkhuyenmaiPartial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Chitietsanpham">
      <soap12:operation soapAction="http://tempuri.org/Chitietsanpham" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LaySanPham">
      <soap12:operation soapAction="http://tempuri.org/LaySanPham" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSanPham">
      <soap12:operation soapAction="http://tempuri.org/CheckSanPham" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayMa">
      <soap12:operation soapAction="http://tempuri.org/LayMa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThuongHieuNam">
      <soap12:operation soapAction="http://tempuri.org/ThuongHieuNam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThuongHieuNu">
      <soap12:operation soapAction="http://tempuri.org/ThuongHieuNu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThuongHieuTreEm">
      <soap12:operation soapAction="http://tempuri.org/ThuongHieuTreEm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_SanPham">
    <wsdl:port name="Service_SanPhamSoap" binding="tns:Service_SanPhamSoap">
      <soap:address location="http://servicegiaydep.azurewebsites.net/Service_SanPham.asmx" />
    </wsdl:port>
    <wsdl:port name="Service_SanPhamSoap12" binding="tns:Service_SanPhamSoap12">
      <soap12:address location="http://servicegiaydep.azurewebsites.net/Service_SanPham.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>