AdminQuanLyShop/AdminQuanLyShop/Service References/Service_KhuyenMai/Service_KhuyenMai.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://huyservice.azurewebsites.net/Service_KhuyenMai.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" />
  <xs:element name="LayTatCaKM">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTatCaKMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" minOccurs="0" name="LayTatCaKMResult" nillable="true" type="q1:ArrayOfKhuyenMai" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemKM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TenKM" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NgayBD" type="xs:dateTime" />
        <xs:element minOccurs="0" name="NgayKT" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemKMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemKMResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaKM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaKM" type="xs:int" />
        <xs:element minOccurs="0" name="TenKM" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NgayBD" type="xs:dateTime" />
        <xs:element minOccurs="0" name="NgayKT" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaKMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaKMResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaKM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaKM" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaKMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaKMResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckKhuyenMai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TenKM" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckKhuyenMaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckKhuyenMaiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>