AdminQuanLyShop/AdminQuanLyShop/Service References/Service_KhuyenMai/Service_KhuyenMai.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service_KhuyenMai" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IService_KhuyenMai_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://huyservice.azurewebsites.net/Service_KhuyenMai.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://huyservice.azurewebsites.net/Service_KhuyenMai.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://huyservice.azurewebsites.net/Service_KhuyenMai.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_KhuyenMai_LayTatCaKM_InputMessage">
    <wsdl:part name="parameters" element="tns:LayTatCaKM" />
  </wsdl:message>
  <wsdl:message name="IService_KhuyenMai_LayTatCaKM_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayTatCaKMResponse" />
  </wsdl:message>
  <wsdl:message name="IService_KhuyenMai_ThemKM_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemKM" />
  </wsdl:message>
  <wsdl:message name="IService_KhuyenMai_ThemKM_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemKMResponse" />
  </wsdl:message>
  <wsdl:message name="IService_KhuyenMai_SuaKM_InputMessage">
    <wsdl:part name="parameters" element="tns:SuaKM" />
  </wsdl:message>
  <wsdl:message name="IService_KhuyenMai_SuaKM_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuaKMResponse" />
  </wsdl:message>
  <wsdl:message name="IService_KhuyenMai_XoaKM_InputMessage">
    <wsdl:part name="parameters" element="tns:XoaKM" />
  </wsdl:message>
  <wsdl:message name="IService_KhuyenMai_XoaKM_OutputMessage">
    <wsdl:part name="parameters" element="tns:XoaKMResponse" />
  </wsdl:message>
  <wsdl:message name="IService_KhuyenMai_CheckKhuyenMai_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckKhuyenMai" />
  </wsdl:message>
  <wsdl:message name="IService_KhuyenMai_CheckKhuyenMai_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckKhuyenMaiResponse" />
  </wsdl:message>
  <wsdl:portType name="IService_KhuyenMai">
    <wsdl:operation name="LayTatCaKM">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_KhuyenMai/LayTatCaKM" message="tns:IService_KhuyenMai_LayTatCaKM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_KhuyenMai/LayTatCaKMResponse" message="tns:IService_KhuyenMai_LayTatCaKM_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemKM">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_KhuyenMai/ThemKM" message="tns:IService_KhuyenMai_ThemKM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_KhuyenMai/ThemKMResponse" message="tns:IService_KhuyenMai_ThemKM_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuaKM">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_KhuyenMai/SuaKM" message="tns:IService_KhuyenMai_SuaKM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_KhuyenMai/SuaKMResponse" message="tns:IService_KhuyenMai_SuaKM_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XoaKM">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_KhuyenMai/XoaKM" message="tns:IService_KhuyenMai_XoaKM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_KhuyenMai/XoaKMResponse" message="tns:IService_KhuyenMai_XoaKM_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckKhuyenMai">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_KhuyenMai/CheckKhuyenMai" message="tns:IService_KhuyenMai_CheckKhuyenMai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_KhuyenMai/CheckKhuyenMaiResponse" message="tns:IService_KhuyenMai_CheckKhuyenMai_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService_KhuyenMai" type="tns:IService_KhuyenMai">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayTatCaKM">
      <soap:operation soapAction="http://tempuri.org/IService_KhuyenMai/LayTatCaKM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemKM">
      <soap:operation soapAction="http://tempuri.org/IService_KhuyenMai/ThemKM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaKM">
      <soap:operation soapAction="http://tempuri.org/IService_KhuyenMai/SuaKM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaKM">
      <soap:operation soapAction="http://tempuri.org/IService_KhuyenMai/XoaKM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckKhuyenMai">
      <soap:operation soapAction="http://tempuri.org/IService_KhuyenMai/CheckKhuyenMai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IService_KhuyenMai" type="tns:IService_KhuyenMai">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IService_KhuyenMai_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayTatCaKM">
      <soap:operation soapAction="http://tempuri.org/IService_KhuyenMai/LayTatCaKM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemKM">
      <soap:operation soapAction="http://tempuri.org/IService_KhuyenMai/ThemKM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaKM">
      <soap:operation soapAction="http://tempuri.org/IService_KhuyenMai/SuaKM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaKM">
      <soap:operation soapAction="http://tempuri.org/IService_KhuyenMai/XoaKM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckKhuyenMai">
      <soap:operation soapAction="http://tempuri.org/IService_KhuyenMai/CheckKhuyenMai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_KhuyenMai">
    <wsdl:port name="BasicHttpBinding_IService_KhuyenMai" binding="tns:BasicHttpBinding_IService_KhuyenMai">
      <soap:address location="http://huyservice.azurewebsites.net/Service_KhuyenMai.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IService_KhuyenMai" binding="tns:BasicHttpsBinding_IService_KhuyenMai">
      <soap:address location="https://huyservice.azurewebsites.net/Service_KhuyenMai.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>