AdminQuanLyShop/AdminQuanLyShop/Service References/Service_CTDH/Service_CTDH.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service_CTDH" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IService_CTDH_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://huyservice.azurewebsites.net/Service_CTDH.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://huyservice.azurewebsites.net/Service_CTDH.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://huyservice.azurewebsites.net/Service_CTDH.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_CTDH_ThemCTDH_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemCTDH" />
  </wsdl:message>
  <wsdl:message name="IService_CTDH_ThemCTDH_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemCTDHResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CTDH_LsCTDH_InputMessage">
    <wsdl:part name="parameters" element="tns:LsCTDH" />
  </wsdl:message>
  <wsdl:message name="IService_CTDH_LsCTDH_OutputMessage">
    <wsdl:part name="parameters" element="tns:LsCTDHResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CTDH_LayCTHDN_InputMessage">
    <wsdl:part name="parameters" element="tns:LayCTHDN" />
  </wsdl:message>
  <wsdl:message name="IService_CTDH_LayCTHDN_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayCTHDNResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CTDH_XoaCTDH_InputMessage">
    <wsdl:part name="parameters" element="tns:XoaCTDH" />
  </wsdl:message>
  <wsdl:message name="IService_CTDH_XoaCTDH_OutputMessage">
    <wsdl:part name="parameters" element="tns:XoaCTDHResponse" />
  </wsdl:message>
  <wsdl:portType name="IService_CTDH">
    <wsdl:operation name="ThemCTDH">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_CTDH/ThemCTDH" message="tns:IService_CTDH_ThemCTDH_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_CTDH/ThemCTDHResponse" message="tns:IService_CTDH_ThemCTDH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LsCTDH">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_CTDH/LsCTDH" message="tns:IService_CTDH_LsCTDH_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_CTDH/LsCTDHResponse" message="tns:IService_CTDH_LsCTDH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayCTHDN">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_CTDH/LayCTHDN" message="tns:IService_CTDH_LayCTHDN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_CTDH/LayCTHDNResponse" message="tns:IService_CTDH_LayCTHDN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XoaCTDH">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_CTDH/XoaCTDH" message="tns:IService_CTDH_XoaCTDH_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_CTDH/XoaCTDHResponse" message="tns:IService_CTDH_XoaCTDH_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService_CTDH" type="tns:IService_CTDH">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThemCTDH">
      <soap:operation soapAction="http://tempuri.org/IService_CTDH/ThemCTDH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LsCTDH">
      <soap:operation soapAction="http://tempuri.org/IService_CTDH/LsCTDH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayCTHDN">
      <soap:operation soapAction="http://tempuri.org/IService_CTDH/LayCTHDN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaCTDH">
      <soap:operation soapAction="http://tempuri.org/IService_CTDH/XoaCTDH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IService_CTDH" type="tns:IService_CTDH">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IService_CTDH_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThemCTDH">
      <soap:operation soapAction="http://tempuri.org/IService_CTDH/ThemCTDH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LsCTDH">
      <soap:operation soapAction="http://tempuri.org/IService_CTDH/LsCTDH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayCTHDN">
      <soap:operation soapAction="http://tempuri.org/IService_CTDH/LayCTHDN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaCTDH">
      <soap:operation soapAction="http://tempuri.org/IService_CTDH/XoaCTDH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_CTDH">
    <wsdl:port name="BasicHttpBinding_IService_CTDH" binding="tns:BasicHttpBinding_IService_CTDH">
      <soap:address location="http://huyservice.azurewebsites.net/Service_CTDH.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IService_CTDH" binding="tns:BasicHttpsBinding_IService_CTDH">
      <soap:address location="https://huyservice.azurewebsites.net/Service_CTDH.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>