AdminQuanLyShop/AdminQuanLyShop/Service References/Service_CTDH/Service_CTDH.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://huyservice.azurewebsites.net/Service_CTDH.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfSanPham_Price">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SanPham_Price" nillable="true" type="tns:SanPham_Price" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSanPham_Price" nillable="true" type="tns:ArrayOfSanPham_Price" />
  <xs:complexType name="SanPham_Price">
    <xs:sequence>
      <xs:element minOccurs="0" name="GiaBan" type="xs:decimal" />
      <xs:element minOccurs="0" name="GiaSP" type="xs:decimal" />
      <xs:element minOccurs="0" name="HinhAnh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaMau" type="xs:int" />
      <xs:element minOccurs="0" name="MaSP" type="xs:int" />
      <xs:element minOccurs="0" name="NgayDang" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Size" type="xs:int" />
      <xs:element minOccurs="0" name="TenMau" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenSP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_GiaBan" type="xs:decimal" />
      <xs:element minOccurs="0" name="_GiaSP" type="xs:decimal" />
      <xs:element minOccurs="0" name="_HinhAnh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_MaMau" type="xs:int" />
      <xs:element minOccurs="0" name="_MaSP" type="xs:int" />
      <xs:element minOccurs="0" name="_NgayDang" type="xs:dateTime" />
      <xs:element minOccurs="0" name="_Size" type="xs:int" />
      <xs:element minOccurs="0" name="_TenMau" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_TenSP" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="SanPham_Price" nillable="true" type="tns:SanPham_Price" />
  <xs:complexType name="ArrayOfCTHDXuat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CTHDXuat" nillable="true" type="tns:CTHDXuat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCTHDXuat" nillable="true" type="tns:ArrayOfCTHDXuat" />
  <xs:complexType name="CTHDXuat">
    <xs:sequence>
      <xs:element minOccurs="0" name="_GiaSP" type="xs:decimal" />
      <xs:element minOccurs="0" name="_MaMau" type="xs:int" />
      <xs:element minOccurs="0" name="_MaSP" type="xs:int" />
      <xs:element minOccurs="0" name="_MaSize" type="xs:int" />
      <xs:element minOccurs="0" name="_Mau" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Size" type="xs:int" />
      <xs:element minOccurs="0" name="_SoLuong" type="xs:int" />
      <xs:element minOccurs="0" name="_TenSP" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="CTHDXuat" nillable="true" type="tns:CTHDXuat" />
</xs:schema>