GiayDep_huyservice.azure/GiayDep/Service References/Service_Mau/Service_Mau2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://huyservice.azurewebsites.net/Service_Mau.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" />
  <xs:element name="LayTatCaMau">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTatCaMauResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" minOccurs="0" name="LayTatCaMauResult" nillable="true" type="q1:ArrayOfMau" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemMau">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mau" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemMauResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemMauResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaMau">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaMau" type="xs:int" />
        <xs:element minOccurs="0" name="Mau" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaMauResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaMauResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaMau">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaMau" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaMauResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaMauResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayMauTheoMa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaMau" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayMauTheoMaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" minOccurs="0" name="LayMauTheoMaResult" nillable="true" type="q2:Mau" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>