GiayDep/GiayDep/Web References/Service_DonHang/Service_DonHang.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ThemDH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MaDH" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="MaKH" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="NgayMua" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="TongTien" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="TinhTrang" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="NVDuyet" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemDHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ThemDHResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ThemDHSoapIn">
    <wsdl:part name="parameters" element="tns:ThemDH" />
  </wsdl:message>
  <wsdl:message name="ThemDHSoapOut">
    <wsdl:part name="parameters" element="tns:ThemDHResponse" />
  </wsdl:message>
  <wsdl:portType name="Service_DonHangSoap">
    <wsdl:operation name="ThemDH">
      <wsdl:input message="tns:ThemDHSoapIn" />
      <wsdl:output message="tns:ThemDHSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service_DonHangSoap" type="tns:Service_DonHangSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThemDH">
      <soap:operation soapAction="http://tempuri.org/ThemDH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service_DonHangSoap12" type="tns:Service_DonHangSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThemDH">
      <soap12:operation soapAction="http://tempuri.org/ThemDH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_DonHang">
    <wsdl:port name="Service_DonHangSoap" binding="tns:Service_DonHangSoap">
      <soap:address location="http://localhost:61817/Service_DonHang.asmx" />
    </wsdl:port>
    <wsdl:port name="Service_DonHangSoap12" binding="tns:Service_DonHangSoap12">
      <soap12:address location="http://localhost:61817/Service_DonHang.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>