AdminQuanLyShop/AdminQuanLyShop/Service References/Service_SanPham_Kho/Service_SanPham_Kho.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service_SanPham_Kho" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IService_SanPham_Kho_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://huyservice.azurewebsites.net/Service_SanPham_Kho.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://huyservice.azurewebsites.net/Service_SanPham_Kho.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://huyservice.azurewebsites.net/Service_SanPham_Kho.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_SanPham_Kho_LayKhoTheoSP_InputMessage">
    <wsdl:part name="parameters" element="tns:LayKhoTheoSP" />
  </wsdl:message>
  <wsdl:message name="IService_SanPham_Kho_LayKhoTheoSP_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayKhoTheoSPResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SanPham_Kho_SanphammoiPartial_InputMessage">
    <wsdl:part name="parameters" element="tns:SanphammoiPartial" />
  </wsdl:message>
  <wsdl:message name="IService_SanPham_Kho_SanphammoiPartial_OutputMessage">
    <wsdl:part name="parameters" element="tns:SanphammoiPartialResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SanPham_Kho_SanphamkhuyenmaiPartial_InputMessage">
    <wsdl:part name="parameters" element="tns:SanphamkhuyenmaiPartial" />
  </wsdl:message>
  <wsdl:message name="IService_SanPham_Kho_SanphamkhuyenmaiPartial_OutputMessage">
    <wsdl:part name="parameters" element="tns:SanphamkhuyenmaiPartialResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SanPham_Kho_LayTatCa_InputMessage">
    <wsdl:part name="parameters" element="tns:LayTatCa" />
  </wsdl:message>
  <wsdl:message name="IService_SanPham_Kho_LayTatCa_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayTatCaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SanPham_Kho_DanhMuc_InputMessage">
    <wsdl:part name="parameters" element="tns:DanhMuc" />
  </wsdl:message>
  <wsdl:message name="IService_SanPham_Kho_DanhMuc_OutputMessage">
    <wsdl:part name="parameters" element="tns:DanhMucResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SanPham_Kho_TimKiemSanPham_InputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemSanPham" />
  </wsdl:message>
  <wsdl:message name="IService_SanPham_Kho_TimKiemSanPham_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemSanPhamResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SanPham_Kho_LayTatCaSP_InputMessage">
    <wsdl:part name="parameters" element="tns:LayTatCaSP" />
  </wsdl:message>
  <wsdl:message name="IService_SanPham_Kho_LayTatCaSP_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayTatCaSPResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SanPham_Kho_TimSanPham_InputMessage">
    <wsdl:part name="parameters" element="tns:TimSanPham" />
  </wsdl:message>
  <wsdl:message name="IService_SanPham_Kho_TimSanPham_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimSanPhamResponse" />
  </wsdl:message>
  <wsdl:portType name="IService_SanPham_Kho">
    <wsdl:operation name="LayKhoTheoSP">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_SanPham_Kho/LayKhoTheoSP" message="tns:IService_SanPham_Kho_LayKhoTheoSP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_SanPham_Kho/LayKhoTheoSPResponse" message="tns:IService_SanPham_Kho_LayKhoTheoSP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SanphammoiPartial">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_SanPham_Kho/SanphammoiPartial" message="tns:IService_SanPham_Kho_SanphammoiPartial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_SanPham_Kho/SanphammoiPartialResponse" message="tns:IService_SanPham_Kho_SanphammoiPartial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SanphamkhuyenmaiPartial">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_SanPham_Kho/SanphamkhuyenmaiPartial" message="tns:IService_SanPham_Kho_SanphamkhuyenmaiPartial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_SanPham_Kho/SanphamkhuyenmaiPartialResponse" message="tns:IService_SanPham_Kho_SanphamkhuyenmaiPartial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayTatCa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_SanPham_Kho/LayTatCa" message="tns:IService_SanPham_Kho_LayTatCa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_SanPham_Kho/LayTatCaResponse" message="tns:IService_SanPham_Kho_LayTatCa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DanhMuc">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_SanPham_Kho/DanhMuc" message="tns:IService_SanPham_Kho_DanhMuc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_SanPham_Kho/DanhMucResponse" message="tns:IService_SanPham_Kho_DanhMuc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemSanPham">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_SanPham_Kho/TimKiemSanPham" message="tns:IService_SanPham_Kho_TimKiemSanPham_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_SanPham_Kho/TimKiemSanPhamResponse" message="tns:IService_SanPham_Kho_TimKiemSanPham_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayTatCaSP">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_SanPham_Kho/LayTatCaSP" message="tns:IService_SanPham_Kho_LayTatCaSP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_SanPham_Kho/LayTatCaSPResponse" message="tns:IService_SanPham_Kho_LayTatCaSP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimSanPham">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_SanPham_Kho/TimSanPham" message="tns:IService_SanPham_Kho_TimSanPham_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_SanPham_Kho/TimSanPhamResponse" message="tns:IService_SanPham_Kho_TimSanPham_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService_SanPham_Kho" type="tns:IService_SanPham_Kho">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayKhoTheoSP">
      <soap:operation soapAction="http://tempuri.org/IService_SanPham_Kho/LayKhoTheoSP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SanphammoiPartial">
      <soap:operation soapAction="http://tempuri.org/IService_SanPham_Kho/SanphammoiPartial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SanphamkhuyenmaiPartial">
      <soap:operation soapAction="http://tempuri.org/IService_SanPham_Kho/SanphamkhuyenmaiPartial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayTatCa">
      <soap:operation soapAction="http://tempuri.org/IService_SanPham_Kho/LayTatCa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhMuc">
      <soap:operation soapAction="http://tempuri.org/IService_SanPham_Kho/DanhMuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemSanPham">
      <soap:operation soapAction="http://tempuri.org/IService_SanPham_Kho/TimKiemSanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayTatCaSP">
      <soap:operation soapAction="http://tempuri.org/IService_SanPham_Kho/LayTatCaSP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimSanPham">
      <soap:operation soapAction="http://tempuri.org/IService_SanPham_Kho/TimSanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IService_SanPham_Kho" type="tns:IService_SanPham_Kho">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IService_SanPham_Kho_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayKhoTheoSP">
      <soap:operation soapAction="http://tempuri.org/IService_SanPham_Kho/LayKhoTheoSP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SanphammoiPartial">
      <soap:operation soapAction="http://tempuri.org/IService_SanPham_Kho/SanphammoiPartial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SanphamkhuyenmaiPartial">
      <soap:operation soapAction="http://tempuri.org/IService_SanPham_Kho/SanphamkhuyenmaiPartial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayTatCa">
      <soap:operation soapAction="http://tempuri.org/IService_SanPham_Kho/LayTatCa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhMuc">
      <soap:operation soapAction="http://tempuri.org/IService_SanPham_Kho/DanhMuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemSanPham">
      <soap:operation soapAction="http://tempuri.org/IService_SanPham_Kho/TimKiemSanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayTatCaSP">
      <soap:operation soapAction="http://tempuri.org/IService_SanPham_Kho/LayTatCaSP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimSanPham">
      <soap:operation soapAction="http://tempuri.org/IService_SanPham_Kho/TimSanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_SanPham_Kho">
    <wsdl:port name="BasicHttpBinding_IService_SanPham_Kho" binding="tns:BasicHttpBinding_IService_SanPham_Kho">
      <soap:address location="http://huyservice.azurewebsites.net/Service_SanPham_Kho.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IService_SanPham_Kho" binding="tns:BasicHttpsBinding_IService_SanPham_Kho">
      <soap:address location="https://huyservice.azurewebsites.net/Service_SanPham_Kho.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>