AdminQuanLyShop/AdminQuanLyShop/Service References/Service_Loai/Service_Loai1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://huyservice.azurewebsites.net/Service_Loai.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" />
  <xs:element name="LayTatCaLoai">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTatCaLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" minOccurs="0" name="LayTatCaLoaiResult" nillable="true" type="q1:ArrayOfLoai" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TenLoai" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemLoaiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaLoai" type="xs:int" />
        <xs:element minOccurs="0" name="TenLoai" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaLoaiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaLoai" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaLoaiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TenLoai" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckLoaiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>