AdminQuanLyShop/AdminQuanLyShop/Service References/Service_Loai/Service_Loai.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service_Loai" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IService_Loai_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://huyservice.azurewebsites.net/Service_Loai.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://huyservice.azurewebsites.net/Service_Loai.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://huyservice.azurewebsites.net/Service_Loai.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Loai_LayTatCaLoai_InputMessage">
    <wsdl:part name="parameters" element="tns:LayTatCaLoai" />
  </wsdl:message>
  <wsdl:message name="IService_Loai_LayTatCaLoai_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayTatCaLoaiResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Loai_ThemLoai_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemLoai" />
  </wsdl:message>
  <wsdl:message name="IService_Loai_ThemLoai_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemLoaiResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Loai_SuaLoai_InputMessage">
    <wsdl:part name="parameters" element="tns:SuaLoai" />
  </wsdl:message>
  <wsdl:message name="IService_Loai_SuaLoai_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuaLoaiResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Loai_XoaLoai_InputMessage">
    <wsdl:part name="parameters" element="tns:XoaLoai" />
  </wsdl:message>
  <wsdl:message name="IService_Loai_XoaLoai_OutputMessage">
    <wsdl:part name="parameters" element="tns:XoaLoaiResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Loai_CheckLoai_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckLoai" />
  </wsdl:message>
  <wsdl:message name="IService_Loai_CheckLoai_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckLoaiResponse" />
  </wsdl:message>
  <wsdl:portType name="IService_Loai">
    <wsdl:operation name="LayTatCaLoai">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Loai/LayTatCaLoai" message="tns:IService_Loai_LayTatCaLoai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Loai/LayTatCaLoaiResponse" message="tns:IService_Loai_LayTatCaLoai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemLoai">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Loai/ThemLoai" message="tns:IService_Loai_ThemLoai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Loai/ThemLoaiResponse" message="tns:IService_Loai_ThemLoai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuaLoai">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Loai/SuaLoai" message="tns:IService_Loai_SuaLoai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Loai/SuaLoaiResponse" message="tns:IService_Loai_SuaLoai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XoaLoai">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Loai/XoaLoai" message="tns:IService_Loai_XoaLoai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Loai/XoaLoaiResponse" message="tns:IService_Loai_XoaLoai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckLoai">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_Loai/CheckLoai" message="tns:IService_Loai_CheckLoai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_Loai/CheckLoaiResponse" message="tns:IService_Loai_CheckLoai_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService_Loai" type="tns:IService_Loai">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayTatCaLoai">
      <soap:operation soapAction="http://tempuri.org/IService_Loai/LayTatCaLoai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemLoai">
      <soap:operation soapAction="http://tempuri.org/IService_Loai/ThemLoai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaLoai">
      <soap:operation soapAction="http://tempuri.org/IService_Loai/SuaLoai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaLoai">
      <soap:operation soapAction="http://tempuri.org/IService_Loai/XoaLoai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLoai">
      <soap:operation soapAction="http://tempuri.org/IService_Loai/CheckLoai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IService_Loai" type="tns:IService_Loai">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IService_Loai_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayTatCaLoai">
      <soap:operation soapAction="http://tempuri.org/IService_Loai/LayTatCaLoai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemLoai">
      <soap:operation soapAction="http://tempuri.org/IService_Loai/ThemLoai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaLoai">
      <soap:operation soapAction="http://tempuri.org/IService_Loai/SuaLoai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaLoai">
      <soap:operation soapAction="http://tempuri.org/IService_Loai/XoaLoai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLoai">
      <soap:operation soapAction="http://tempuri.org/IService_Loai/CheckLoai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_Loai">
    <wsdl:port name="BasicHttpBinding_IService_Loai" binding="tns:BasicHttpBinding_IService_Loai">
      <soap:address location="http://huyservice.azurewebsites.net/Service_Loai.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IService_Loai" binding="tns:BasicHttpsBinding_IService_Loai">
      <soap:address location="https://huyservice.azurewebsites.net/Service_Loai.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>