AdminQuanLyShop/AdminQuanLyShop/Service References/Service_NhanVien/Service_NhanVien.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service_NhanVien" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IService_NhanVien_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://huyservice.azurewebsites.net/Service_NhanVien.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://huyservice.azurewebsites.net/Service_NhanVien.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://huyservice.azurewebsites.net/Service_NhanVien.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_NhanVien_LayTatCaNhaNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:LayTatCaNhaNhanVien" />
  </wsdl:message>
  <wsdl:message name="IService_NhanVien_LayTatCaNhaNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayTatCaNhaNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="IService_NhanVien_ThemNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemNhanVien" />
  </wsdl:message>
  <wsdl:message name="IService_NhanVien_ThemNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="IService_NhanVien_SuaNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:SuaNhanVien" />
  </wsdl:message>
  <wsdl:message name="IService_NhanVien_SuaNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuaNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="IService_NhanVien_XoaNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:XoaNhanVien" />
  </wsdl:message>
  <wsdl:message name="IService_NhanVien_XoaNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:XoaNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="IService_NhanVien_TimKiemNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemNhanVien" />
  </wsdl:message>
  <wsdl:message name="IService_NhanVien_TimKiemNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="IService_NhanVien_KiemTraNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:KiemTraNhanVien" />
  </wsdl:message>
  <wsdl:message name="IService_NhanVien_KiemTraNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:KiemTraNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="IService_NhanVien_LayMotNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:LayMotNhanVien" />
  </wsdl:message>
  <wsdl:message name="IService_NhanVien_LayMotNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayMotNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="IService_NhanVien_CheckEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckEmail" />
  </wsdl:message>
  <wsdl:message name="IService_NhanVien_CheckEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService_NhanVien_LayNhanVienTheoMa_InputMessage">
    <wsdl:part name="parameters" element="tns:LayNhanVienTheoMa" />
  </wsdl:message>
  <wsdl:message name="IService_NhanVien_LayNhanVienTheoMa_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayNhanVienTheoMaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService_NhanVien">
    <wsdl:operation name="LayTatCaNhaNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_NhanVien/LayTatCaNhaNhanVien" message="tns:IService_NhanVien_LayTatCaNhaNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_NhanVien/LayTatCaNhaNhanVienResponse" message="tns:IService_NhanVien_LayTatCaNhaNhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_NhanVien/ThemNhanVien" message="tns:IService_NhanVien_ThemNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_NhanVien/ThemNhanVienResponse" message="tns:IService_NhanVien_ThemNhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuaNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_NhanVien/SuaNhanVien" message="tns:IService_NhanVien_SuaNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_NhanVien/SuaNhanVienResponse" message="tns:IService_NhanVien_SuaNhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XoaNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_NhanVien/XoaNhanVien" message="tns:IService_NhanVien_XoaNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_NhanVien/XoaNhanVienResponse" message="tns:IService_NhanVien_XoaNhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_NhanVien/TimKiemNhanVien" message="tns:IService_NhanVien_TimKiemNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_NhanVien/TimKiemNhanVienResponse" message="tns:IService_NhanVien_TimKiemNhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KiemTraNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_NhanVien/KiemTraNhanVien" message="tns:IService_NhanVien_KiemTraNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_NhanVien/KiemTraNhanVienResponse" message="tns:IService_NhanVien_KiemTraNhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayMotNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_NhanVien/LayMotNhanVien" message="tns:IService_NhanVien_LayMotNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_NhanVien/LayMotNhanVienResponse" message="tns:IService_NhanVien_LayMotNhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_NhanVien/CheckEmail" message="tns:IService_NhanVien_CheckEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_NhanVien/CheckEmailResponse" message="tns:IService_NhanVien_CheckEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayNhanVienTheoMa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_NhanVien/LayNhanVienTheoMa" message="tns:IService_NhanVien_LayNhanVienTheoMa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_NhanVien/LayNhanVienTheoMaResponse" message="tns:IService_NhanVien_LayNhanVienTheoMa_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService_NhanVien" type="tns:IService_NhanVien">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayTatCaNhaNhanVien">
      <soap:operation soapAction="http://tempuri.org/IService_NhanVien/LayTatCaNhaNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemNhanVien">
      <soap:operation soapAction="http://tempuri.org/IService_NhanVien/ThemNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaNhanVien">
      <soap:operation soapAction="http://tempuri.org/IService_NhanVien/SuaNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaNhanVien">
      <soap:operation soapAction="http://tempuri.org/IService_NhanVien/XoaNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemNhanVien">
      <soap:operation soapAction="http://tempuri.org/IService_NhanVien/TimKiemNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KiemTraNhanVien">
      <soap:operation soapAction="http://tempuri.org/IService_NhanVien/KiemTraNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayMotNhanVien">
      <soap:operation soapAction="http://tempuri.org/IService_NhanVien/LayMotNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckEmail">
      <soap:operation soapAction="http://tempuri.org/IService_NhanVien/CheckEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayNhanVienTheoMa">
      <soap:operation soapAction="http://tempuri.org/IService_NhanVien/LayNhanVienTheoMa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IService_NhanVien" type="tns:IService_NhanVien">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IService_NhanVien_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayTatCaNhaNhanVien">
      <soap:operation soapAction="http://tempuri.org/IService_NhanVien/LayTatCaNhaNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemNhanVien">
      <soap:operation soapAction="http://tempuri.org/IService_NhanVien/ThemNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaNhanVien">
      <soap:operation soapAction="http://tempuri.org/IService_NhanVien/SuaNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaNhanVien">
      <soap:operation soapAction="http://tempuri.org/IService_NhanVien/XoaNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemNhanVien">
      <soap:operation soapAction="http://tempuri.org/IService_NhanVien/TimKiemNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KiemTraNhanVien">
      <soap:operation soapAction="http://tempuri.org/IService_NhanVien/KiemTraNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayMotNhanVien">
      <soap:operation soapAction="http://tempuri.org/IService_NhanVien/LayMotNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckEmail">
      <soap:operation soapAction="http://tempuri.org/IService_NhanVien/CheckEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayNhanVienTheoMa">
      <soap:operation soapAction="http://tempuri.org/IService_NhanVien/LayNhanVienTheoMa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_NhanVien">
    <wsdl:port name="BasicHttpBinding_IService_NhanVien" binding="tns:BasicHttpBinding_IService_NhanVien">
      <soap:address location="http://huyservice.azurewebsites.net/Service_NhanVien.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IService_NhanVien" binding="tns:BasicHttpsBinding_IService_NhanVien">
      <soap:address location="https://huyservice.azurewebsites.net/Service_NhanVien.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>