AdminQuanLyShop/AdminQuanLyShop/Service References/Service_NhanVien/Service_NhanVien2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://huyservice.azurewebsites.net/Service_NhanVien.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" />
  <xs:element name="LayTatCaNhaNhanVien">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTatCaNhaNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" minOccurs="0" name="LayTatCaNhaNhanVienResult" nillable="true" type="q1:ArrayOfNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HoTen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MatKhau" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DiaChi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SDT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CMND" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="QuyenAdmin" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemNhanVienResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaNV" type="xs:int" />
        <xs:element minOccurs="0" name="HoTen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MatKhau" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DiaChi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SDT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CMND" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="QuyenAdmin" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaNhanVienResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaNV" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaNhanVienResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" minOccurs="0" name="TimKiemNhanVienResult" nillable="true" type="q2:ArrayOfNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MatKhau" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KiemTraNhanVienResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayMotNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MatKhau" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayMotNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" minOccurs="0" name="LayMotNhanVienResult" nillable="true" type="q3:NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayNhanVienTheoMa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaNV" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayNhanVienTheoMaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service_GiayDep.Models" minOccurs="0" name="LayNhanVienTheoMaResult" nillable="true" type="q4:NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>